* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}
body{
    scroll-behavior: smooth;
    min-height: 100vh;
}
.height{
    min-height: 100vh;
}
.container {
    max-width: 25vw;
    margin: 0 auto;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3vh;
    border: 1px solid rgb(88, 88, 88);
    background-color: #404040;
}
.header__timer{
    margin-left: 10%;
    color: aliceblue;
}
.mini-profile-container{
    height: 8vh;
    display: flex;
    align-items: center;
    border-right: 1px solid rgb(88, 88, 88);
    border-left: 1px solid rgb(88, 88, 88);
    border-bottom: 1px solid rgb(88, 88, 88);
    background-color: #404040;
    color: aliceblue;
}
.mini-profile__img{
    background-image: url(img/mini-profile-pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 10px;
    border: 1px solid aliceblue;
}

.chat-container{
    height: 74vh;
    overflow: hidden;
    border-right: 1px solid rgb(88, 88, 88);
    border-left: 1px solid rgb(88, 88, 88);
    background-color: #404040;
}
.chat-list{
    display: flex;
    flex-direction: column;
}
.chat-item__from-me{
    display: flex;
    align-items: center;
    width: 20vw;
    background-color: #e9ecf1;
    border-radius: 0px 15px 15px 15px;
    padding: 5px 10px;
    margin: 5px;
    list-style: none;
    word-break: break-all;
}
.chat-item__from-person{
    display: flex;
    align-items: center;
    width: 20vw;
    border-radius: 15px 0px 15px 15px;
    padding: 5px 10px;
    margin: 5px;
    list-style: none;
    margin-left: 3vw;
    background-color: #2F80ED;
    color:white;
    word-break: break-all;
}
.chat-typing-container{
    height: 4vh;
    display: flex;
    align-items: center;
    border-right: 1px solid rgb(88, 88, 88);
    border-left: 1px solid rgb(88, 88, 88);
    background-color: #404040;
}
.chat-typing-display{
    display: flex;
}
.dot{
    width: 4px;
    height: 4px;
    opacity: 0.2;
    background-color: #b2b2b2;
    margin-right: 2px;
    border-radius: 50%;
    animation: 1.1s linear 0s infinite activity__typing;
}
.dots{
    margin:0px 3px;
    display: flex;
    align-items: center;
}
.typing-name{
    color:#b2b2b2;
}
.input-container{
    height: 9vh;
    display: flex;
    border-top: 1px solid rgb(88, 88, 88);
    border-bottom: 1px solid rgb(88, 88, 88);
    border-right: 1px solid rgb(88, 88, 88);
    border-left: 1px solid rgb(88, 88, 88);
}
.input__input{
    width: 70%;
    border:none;
    background-color: #5a5a5a;
    color:rgb(230, 230, 230);
    padding: 5px;
    outline: none;
}
.input__button{
    width: 30%;
    border:none;
    background-color: #e9ecf1;
    color: black;
}

.toggle__display{
    display: none;
}
@keyframes activity__typing {
    0%, 100% {
        opacity: .5;
    }
    30% {
        opacity: 1;
    }
}